.btn {
  display: inline-flex;
  padding: 18px 48px;

  color: $color-default-black;
  display: block;
  text-align: center;
  font-family: $ff-placeholder;
  font-size: 18px;
  line-height: 100%;

  background-color: inherit;
  border: 1px solid rgba(16, 38, 84, 0.20);
  cursor: pointer;
  //transition: opacity $trans-default;

  &--intro {
    padding: 27px 20px;
    border: 2px solid $color-default-white;

    color: $color-default-white;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    min-width: 230px;

    @include vp-1365 {
      padding: 21px 20px;
      min-width: 185px;
    }

    @include vp-767 {

      width: 100%;
    }
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
